@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: hsl(270, 20%, 96%);
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    user-select: none;
}

.app-field {
    width: 100%;
    min-height: 100vh;
    max-width: 390px;
    width: 380px;
    position: relative;

}




.container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-ui {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile {
    height: 550px;
    width: 280px;
    background-color: hsl(270, 20%, 96%);
    border: 12px solid #fff;
    border-radius: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    box-shadow: 5px 5px 5px rgb(233, 232, 232);

}

.avtar-top {
    width: 100%;
    height: 80px;
    border-radius: 23px 23px 7px 7px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}

.top-aval {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
}

.profile {
    display: flex;
    justify-content: center;

    align-items: center;

}

.avt {
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.left-ang {
    height: 20px;
    margin-bottom: 5px;
    filter: invert(100);
}

.name {
    padding-left: 10px;
    color: #fff;
}

.name span {
    font-size: 16px;
}

.name p {
    font-size: 11px;
    color: hsla(180, 2%, 90%, 0.575);
}

.dots {
    height: 15px;
    filter: invert(100);
}



.avtar-top::after {
    content: "";
    width: 120px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 70px;
    top: -10px;
    border-radius: 25px;
}

.chat-mid {
    width: 100%;
    height: 500px;
}


.chats {
    width: 75%;
    font-size: 12px;
    background-color: hsla(180, 2%, 90%, 0.575);
    margin: 5px;
    padding: 8px 15px 10px 7px;
    line-height: 1;
    word-spacing: .9;
    border-radius: 15px 14px 14px 8px;
    color: hsl(276, 55%, 52%);

    animation-name: example;
    animation-duration: 4s;
}


@keyframes example {
    0% {
        visibility: hidden;
        font-size: 0px;
    }

    25% {

        font-size: 0px;

    }

    50% {

        font-size: 8px;

    }

    100% {
        font-size: 12px;


    }
}







.rigth-chat {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.send-pic {
    display: flex;
    width: 100%;
    text-align: right;
    justify-content: right;

}

.send-pic img {
    width: 50px;
    margin: 5px;
    border-radius: 15px;
    animation-name: sendPic;
    animation-duration: 4s;
}



@keyframes sendPic {
    0% {
        width: 10px;
    }

    25% {
        width: 20px;

    }

    100% {
        width: 50px;

    }
}




.l-chats {
    background-color: #fff;
    margin: 5px;
    width: 80%;
    font-size: 12px;
    padding: 7px;
    border-radius: 10px 8px 5px 12px;
    text-align: left;
    animation-name: example;
    animation-duration: 4s;
}

.l-chats:last-child {
    width: auto;
}


.money {
    display: flex;
    width: 75%;
    padding: 8px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 8px 10px 10px 5px;
    margin: 5px;
    justify-content: space-between;
    background-image: linear-gradient(150deg, hsl(293, 100%, 63%) 20%, hsl(264, 100%, 61%)60%);
    opacity: .8;

}

.money input {
    outline: none;
    background-color: transparent;
    border: .5px solid hsl(289, 100%, 72%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;

}

.money input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"]:checked {
    background-color: #f0f0f071;
}

.money .topic {
    font-size: 12px;
    animation-name: example;
    animation-duration: 4s;
}

.money span {
    padding-right: 10px;
    animation-name: example;
    animation-duration: 4s;
}


.input-chat-btn {
    background-color: violet;
    position: absolute;
    bottom: 10px;
    width: 95%;
    background-color: #fff;
    padding: .8em;
    left: 5px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

/* input for message  */
.input-chat-btn input {
    outline: none;
    border: none;
    padding: 0px 10px;
    animation-name: example;
    animation-duration: 4s;
}

.input-chat-btn input::placeholder {
    color: hsl(206, 6%, 79%);
    font-size: 12px;

}

.input-chat-btn button {
    width: 35px;
    height: 35px;
    background-color: hsl(271, 36%, 24%);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 5px;
}

.input-chat-btn button img {
    width: 50%;
    filter: invert(100);
}



.app-content {
    width: 80%;
    height: 35%;
    text-align: center;


}

.app-content h1 {
    color: hsl(271, 36%, 24%);
    padding-bottom: 15px;
}

.app-content p {
    color: hsl(270, 7%, 64%);
    line-height: 1.5;
}



.hang-left-top {
    position: absolute;
    background-color: hsl(264, 100%, 61%);
    width: 150px;
    height: 450px;
    border-radius: 0px 0px 200px 0px;
    left: 0px;
    top: 0px;
    z-index: -1;

}

.hang-right-bottom {
    position: absolute;
    background-color: red;
    background-color: rgba(204, 204, 204, 0.11);
    width: 150px;
    height: 450px;
    bottom: 0px;
    right: 0px;
    border-radius: 200px 0px 5px 5px;
    z-index: -1;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 1000px) {
    /* body{
        overflow: hidden;
    } */

    .app-field {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .container {
        display: flex;
        flex-direction: row;
        margin-top: -100px;
        width: 80%;

    }

    .hang-left-top {
        width: 300px;
        height: 80%;
        border-radius: 0px 0px 200px 200px;
        left: -31px;
        bottom: 150px;
    }

    .app-content {
        width: 50%;
        height: 20%;
        text-align: left;

    }

    .app-content p {
        width: 90%;
    }

    .app-ui {
        width: 50%;
    }

    .hang-right-bottom {
        width: 250px;
        height: 70%;
        bottom: 0px;
    }

}

